In [2]:
#Pandas Series
#diffrences between numpy array and pandas series
#1.Diffrent types are allowed in pandas series
#2.Series has a name
#3.At the backend there is numpy present
#4.You can create manual indices in pandas series

In [2]:
import numpy as np
import pandas as pd

In [3]:
sample = pd.Series([12.00, 11, 10.11])
sample

0    12.00
1    11.00
2    10.11
dtype: float64

In [4]:
sample.name = 'Sample'
sample

0    12.00
1    11.00
2    10.11
Name: Sample, dtype: float64

In [5]:
sample.index = [
    'First_Number',
    'Second_Number',
    'Third_Number'
]
sample
#Looks more like a dictionary,but
#Dictionary in Python are unordered 
#Pandas series is ordered

First_Number     12.00
Second_Number    11.00
Third_Number     10.11
Name: Sample, dtype: float64

In [6]:
#You can directly create a series
sample = pd.Series({
    'First':10,
    'Second':100,
    'Third' :1000
})
sample

First       10
Second     100
Third     1000
dtype: int64

In [7]:
sample['Second']

100

In [8]:
#FUNDAMENTAL DIFFERNCE#
#In Python upper limit of slice is not returned.
#In pandas Upper Limit is indeed included.

In [9]:
sample['First':'Second']

First      10
Second    100
dtype: int64

In [10]:
sample[0:1]

First    10
dtype: int64

In [11]:
#Vectorised Opertations are applicable and works in same way as numpy
#Boolean operations are also same

In [12]:
x = pd.Series([1,2,3,4,5,5])
x

0    1
1    2
2    3
3    4
4    5
5    5
dtype: int64

In [13]:
x.mean()

3.3333333333333335

In [14]:
x[x>4]

4    5
5    5
dtype: int64

In [15]:
x>4

0    False
1    False
2    False
3    False
4     True
5     True
dtype: bool

In [16]:
x[x>x.mean()]

3    4
4    5
5    5
dtype: int64

In [17]:
#Modifying Series

In [18]:
x[0] = 3
x

0    3
1    2
2    3
3    4
4    5
5    5
dtype: int64

In [19]:
#DATAFRAMES
#Usually created from csv Files
#DataFrame is a combination of Series

In [20]:
#creating a dataframe
sampleDataFrame= pd.DataFrame({
    'Name':['Iron Man', 'Captain America', 'Thor'],
    'Powers':[80,75,98]
})
sampleDataFrame

              Name  Powers
0         Iron Man      80
1  Captain America      75
2             Thor      98